<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="travel.maptracking">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.FlashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScheduleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.BasicPositioningActivity" />

        <meta-data
            android:name="DATABASE"
            android:value="maptrackingDB" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="travel.maptracking.model.db" />
        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="Jx19V6RquZQ5OETiixce" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="q9g49SJoUosXfxsSAHc7gA" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="jHDo910g4fYvbRJ0M+YH04+liFEQhcgWgYiB6I4vo9SXHrYAcyRkv6r2YIMWYPbWu3o4M8z1PLTc5KnpnHupdUIR3MgVBkxNB+uudtgq3DhdDHNAKXUZPCV1NEK7aH5qltrLIWQWna2CXh2ay7cDkDKIOAVmbIrxMasQrowWGEHGHOGzABijo3nSovPh/rejHxBrNF6Wdqo8BxQd89luNrj2XeR9zDET2Z1rqLXZP6vlzDuLSRKpv8Tjci2trAuZDhZ+jUMaEKcG+5E+JsO4Qq3ZVnmp4hazFMThgdhu5LTH/8u711PZuOTGzcMEDWRlT2NXnt9jaJ1JwxixdSuXLVondLEWsJky3AHBESPDuzW2VEBiHyGF9ui36Mj08Vi/Iu3Q95sjpOWZLzUXOXcLxaTJlToGrugT0W0MLjyRRSox1uUcSX+W4wIU4kN1Q67p4HTlnUtNRWDotbm63/riERQqWOf4l4APi/O7b/ckI7Va7BNfgw19rotJFe99A3ZzlyfCLkepQQKKGIQjg7iD+g2PYrD4OTfkFOoqrJl7fzzyr7JOhNAktCeYn4g5DTStHsIIrc8VVTXGoneIH9bRFArJXTTWuevR15jvq+x8ZG+Dul3jLXD6HSp/2madCQeV3kJPYEvB78oYUv0rz0nbZJE/z/KP7zulZkr8wII/I1c=" />

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:exported="false"
            android:label="MapTracking">
            <intent-filter>
                <action android:name="map_intent" />
            </intent-filter>
        </service>

        <service
            android:name=".services.OutBoxService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="false" />

        <!--
          Embed the HERE Positioning Service.
          For more information, see the HERE SDK Developer's Guide
        -->
        <service
            android:name="com.here.services.internal.LocationService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />
        <!--
            HERE Location boot receiver definition.
            For more information, see the HERE SDK Developer's Guide
        -->
        <receiver
            android:name="com.here.services.internal.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.ScheduleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScheduleAddActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScheduleAddDriverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TrackingDriverActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".activity.ScheduleDetailActivityDriver"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>